@model CodeSummit.Models.ManageAccountModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new Dictionary<string, object>{{"disabled", "disabled"}})
            </li>
            <li>
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress)
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Profile</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.TwitterHandle)
                @Html.TextBoxFor(m => m.TwitterHandle)
            </li>
            <li>
                @Html.LabelFor(m => m.WebsiteUrl)
                @Html.TextBoxFor(m => m.WebsiteUrl)
            </li>
            <li>
                @Html.LabelFor(m => m.Biography)
                @Html.TextAreaFor(m => m.Biography)
            </li>
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}
    