@model CodeSummit.Models.Session
@{
    ViewBag.Title = "Submit Session";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Submit a topic for approval.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
            </li>
        </ol>
        <input type="submit" value="Submit Session" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
