@using CodeSummit.Models
@model CodeSummit.Models.Session
@{
    ViewBag.Title = "Edit Session";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Edit a presentation.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
            </li>
            @if (Roles.IsUserInRole("Administrator"))
            {
                <li>
                    @Html.LabelFor(m => m.Status)
                    @Html.DropDownListFor(m => m.Status, Enum.GetNames(typeof (SessionStatus)).Select(x => new SelectListItem {Value = x, Text = x, Selected = x == Model.Status}))
                </li>
                <li>
                    @Html.LabelFor(m => m.ScheduledTime)
                    @Html.EditorFor(m => m.ScheduledTime)
                </li>
            }
        </ol>
        @Html.HiddenFor(m => m.SessionId)
        <input type="submit" value="Submit Session" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
