@model CodeSummit.Models.UserRegistrationModel

@{
    ViewBag.Title = "Register for Code Summit";
    ViewBag.Message = "Let's get it started.  Hey!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p></p>*@
        </div>
    </section>
}

@using (Html.BeginForm())
{
    <table>
    @for (var i = 0; i < Model.Sessions.Count; i++)
    {
        {
            <tr>
                <td>@Html.HiddenFor(x => x.Sessions[i].Id)</td>
                <td>@Html.DisplayFor(x => x.Sessions[i].Name)</td>
                <td>@Html.DisplayFor(x => x.Sessions[i].ScheduledTime)</td>
                <td>@Html.CheckBoxFor(x => x.Sessions[i].Selected)</td>
            </tr>
        }
    }
    </table>
<input type="submit" value="Register"/>
}