@model IEnumerable<EventPlanning.Models.SessionModel>

@{
    ViewBag.Title = "Sessions";
    ViewBag.Message = "Not a wasted moment.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p></p>*@
        </div>
    </section>
}
@if (Model == null || !Model.Any())
{
    <div>There are no sessions scheduled. Please check back later.</div>
}
else
{
    foreach (var session in Model)
    {
        <div>
            <h3>@session.Name</h3>
            <em>@session.Presenter</em>
            <p>
                @session.Description
            </p>
        </div>
    }
}